header
{
  padding: 60px;
  text-align: center;
}

h1
{
  font-size: 80px;
  display: inline-block;
  padding: 20px;
}

#noysoft-landing-logo
{
  position: relative;
  height: 200px;
  width: 200px;
  top: 70px;
}

#services
{
  text-align: center;
  position: relative;
}
.card
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  padding: 10px;
}
.card:hover
{
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 1);
}
.card-title
{
  text-align: center;
  padding: 2px 16px;
}

img
{
  border-radius: 5px 5px 0 0;
}
