{% extends 'web-master.html' %}

{% load static %}

{% block title %}
  <title>
    Noysoft | Web
  </title>
{% endblock %}

{% block header %}
<header>
    <img id="noysoft-landing-logo" src="{% static 'images/logos/noysoft.svg' %}" class="img-properties">
    <h2 class="unselectabletext">Web Services</h2>
</header>
{% endblock %}

{% block content %}
<div class="container">
  <div class="web-card">
    <h5>This is the web section.</h5>
    <p><a href="/">Go Back</a></p>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer>
  <div>
    <p class="unselectabletext">&copy Noysoft 2023</p>
  </div>
</footer>
{% endblock %}
