{% extends 'web-master.html' %}

{% load static %}

{% block title %}
  <title>
    Noysoft | Web
  </title>
{% endblock %}

{% block header %}
<header>
    <img id="noysoft-landing-logo" src="{% static 'images/logos/noysoft.svg' %}" class="img-properties">
    <h2 class="unselectabletext">Web Services</h2>
</header>
{% endblock %}

{% block content %}
<div class="container">
  <div class="web-card">
    <div class="web-image">
      <img src="{% static 'icons/noysoft-web-blog.svg' %}" class="img-properties">
    </div>
    <div class="web-title">
      <h4 class="unselectabletext"><b>Blog</b></h4>
    </div>
  </div>
  <div class="web-card">
    <div class="web-image">
      <img src="{% static 'icons/noysoft-web-business.svg' %}" class="img-properties">
    </div>
    <div class="web-title">
      <h4 class="unselectabletext"><b>Business</b></h4>
    </div>
  </div>
  <div class="web-card">
    <div class="web-image">
      <img src="{% static 'icons/noysoft-web-ecommerce.svg' %}" class="img-properties">
    </div>
    <div class="web-title">
      <h4 class="unselectabletext"><b>E-Commerce</b></h4>
    </div>
  </div>
  <div class="web-card">
    <div class="web-image">
      <img src="{% static 'icons/noysoft-web-events.svg' %}" class="img-properties">
    </div>
    <div class="web-title">
      <h4 class="unselectabletext"><b>Events</b></h4>
    </div>
  </div>
  <div class="web-card">
    <div class="web-image">
      <img src="{% static 'icons/noysoft-web-information.svg' %}" class="img-properties">
    </div>
    <div class="web-title">
      <h4 class="unselectabletext"><b>Information</b></h4>
    </div>
  </div>
  <div class="web-card">
    <div class="web-image">
      <img src="{% static 'icons/noysoft-web-membership.svg' %}" class="img-properties">
    </div>
    <div class="web-title">
      <h4 class="unselectabletext"><b>Membership</b></h4>
    </div>
  </div>
  <div class="web-card">
    <div class="web-image">
      <img src="{% static 'icons/noysoft-web-nonprofit.svg' %}" class="img-properties">
    </div>
    <div class="web-title">
      <h4 class="unselectabletext"><b>Non-Profit</b></h4>
    </div>
  </div>
  <div class="web-card">
    <div class="web-image">
      <img src="{% static 'icons/noysoft-web-onlineforum.svg' %}" class="img-properties">
    </div>
    <div class="web-title">
      <h4 class="unselectabletext"><b>Online Forum</b></h4>
    </div>
  </div>
  <div class="web-card">
    <div class="web-image">
      <img src="{% static 'icons/noysoft-web-personal.svg' %}" class="img-properties">
    </div>
    <div class="web-title">
      <h4 class="unselectabletext"><b>Personal</b></h4>
    </div>
  </div>
  <div class="web-card">
    <div class="web-image">
      <img src="{% static 'icons/noysoft-web-portfolio.svg' %}" class="img-properties">
    </div>
    <div class="web-title">
      <h4 class="unselectabletext"><b>Portfolio</b></h4>
    </div>
  </div>
</div>
<div class="container back">
  <p><a href="/">Go Back</a></p>
</div>
{% endblock %}

{% block footer %}
<footer>
  <div>
    <p class="unselectabletext">&copy Noysoft 2023</p>
  </div>
</footer>
{% endblock %}
