{% extends 'app-master.html' %}

{% load static %}

{% block title %}
  <title>
    Noysoft | App
  </title>
{% endblock %}

{% block header %}
<header>
    <img id="noysoft-landing-logo" src="{% static 'images/logos/noysoft.svg' %}" class="img-properties">
    <h2 class="unselectabletext">App Services</h2>
</header>
{% endblock %}

{% block content %}
<div class="container">
  <div class="app-card">
    <div class="app-image">
      <img src="{% static 'images/logo/app-android-logo.svg' %}" class="img-properties">
    </div>
    <div class="app-title">
      <h5>Android</h5>
    </div>
  </div>
  <div class="app-card">
    <div class="app-image">
      <img src="{% static 'images/logo/app-windows-logo.svg' %}" class="img-properties">
    </div>
    <div class="app-title">
      <h5>Windows</h5>
    </div>
  </div>
</div>
<div class="container back">
  <p><a href="/">Go Back</a></p>
</div>
{% endblock %}

{% block footer %}
<footer>
  <div>
    <p class="unselectabletext">&copy Noysoft 2023</p>
  </div>
</footer>
{% endblock %}
