{% load static %}
<!Doctype html>
<html>

<head>
  <title>Noysoft</title>
  <link rel="stylesheet" href="{% static 'noysoft-landing.css' %}">
</head>

<body>
  <header>
    <img id="noysoft-landing-logo" src="{% static 'images/logos/noysoft.svg' %}">
    <h1>Noysoft</h1>
  </header>
  <div class="services">
    <ul id="services">
      <li><img src="{% static 'images/icons/noysoft-apps-icon.svg' %}"></li>
      <li><img src="{% static 'images/icons/noysoft-webs-icon.svg' %}"></li>
      <li><img src="{% static 'images/icons/noysoft-games-icon.svg' %}"></li>
    </li>
  </div>
</body>

</html>
