{% extends 'landingmaster.html' %}

{% load static %}

{% block title %}
  <title>
    Noysoft
  </title>
{% endblock %}

{% block header %}
<header>
    <img id="noysoft_landing_logo" src="{% static 'images/logos/noysoft.svg' %}" class="img-properties">
    <h1 id="paanyaya" class="unselectabletext">Welcome to Noysoft</h1>
</header>
{% endblock %}

{% block content %}
<div id="services">
  <a class="card-link" href="noysoftapp">
  <div class="card" id="apps">
    <div class="landing-image">
      <img src="{% static 'images/icons/noysoft-apps-icon.svg' %}" class="img-properties">
    </div>
    <div class="card-title">
      <h4 class="unselectabletext"><b>App</b><h4>
    </div>
  </div>
  </a>

  <a class="card-link" href="noysoftweb">
  <div class="card" id="webs">
    <div class="landing-image">
      <img src="{% static 'images/icons/noysoft-webs-icon.svg' %}" class="img-properties">
    </div>
    <div class="card-title">
      <h4 class="unselectabletext"><b>Web</b><h4>
    </div>
  </div>
  </a>

  <a class="card-link" href="noysoftgame">
  <div class="card" id="games">
    <div class="landing-image">
      <img src="{% static 'images/icons/noysoft-games-icon.svg' %}" class="img-properties">
    </div>
    <div class="card-title">
      <h4 class="unselectabletext"><b>Game</b><h4>
    </div>
  </div>
  </a>
</div>
{% endblock %}

{% block footer %}
<footer>
  <div>
    <p class="unselectabletext">&copy Noysoft 2023</p>
  </div>
</footer>
{% endblock %}
</body>
</html>
