{% load static %}
<!Doctype html>
<html>
<head>
  {% block title %}
    <title>
      Noysoft
    </title>
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'noysoft-landing.css' %}">
  <link rel="stylesheet" href="{% static 'noysoft-global.css' %}">
  <link rel="icon" href="{% static 'favicons/noysoft-16x16.png' %}">

  <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'noysoft-global-animation.js' %}"></script>
</head>

<body onload="animation()">

  {% block header %}
  {% endblock %}

  {% block content %}

  {% endblock %}

  {% block footer %}
    <footer>

    </footer>
  {% endblock %}
</body>
</html>
