h2, p
{
  display: block;
  position: relative;
  color: #010e1b
}

a
{
  padding: 20px;
  color: #010e1b;
  text-decoration: none;
}

#card
{
  box-shadow: 0 4px 8px 0 rgba(0, 1, 1, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  padding: 60px;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: #cb0404;
}
